<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Gmail.Username"
         value="" />
    <add key="Gmail.Password"
         value="" />
    <add key="Test.FirstName"
         value="" />
    <add key="Test.LastName"
         value="" />
  </appSettings>
</configuration>