<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GoContactSyncMod.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <GoContactSyncMod.Properties.Settings>
      <setting name="SyncInterval" serializeAs="String">
        <value>02:00:00</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSync" serializeAs="String">
        <value />
      </setting>
      <setting name="SyncMode" serializeAs="String">
        <value>MergeOutlookWins</value>
      </setting>
      <setting name="IsFirstSync" serializeAs="String">
        <value>True</value>
      </setting>
    </GoContactSyncMod.Properties.Settings>
  </userSettings>
</configuration>
