<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <!-- Uses the configured proxy address -->
    <!-- Comment this in and comment configuration below out to bypass system configuration -->
    <!--<defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy bypassonlocal="True" proxyaddress="http://proxy:80/"></proxy>
    </defaultProxy>-->

    <!-- Uses the default system proxy from InternetExplorer Settings -->
    <!-- Comment this out and use above settings to set proxy manually -->
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy usesystemdefault="True"/>
    </defaultProxy>
  </system.net>
</configuration>

