<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
		
		<!-- For common http proxy, comment first block in -->
		<!-- For details how to configure and examples, see MSDN documentation at http://msdn.microsoft.com/en-us/library/kd3cf2ex.aspx	-->


		<!-- Uses the configured proxy address -->
    <!-- Comment this in and comment configuration below out to bypass system configuration -->
    <!--
    <defaultProxy enabled="true" useDefaultCredentials="true">
        <proxy bypassonlocal="True" proxyaddress="http://proxy:80/"></proxy>
    </defaultProxy>
    -->


		<!-- Uses the default system proxy, usually means "none" -->
    <!-- Comment this in to override Internet Explorer Proxy Settings -->
    <!--
		<defaultProxy enabled="true" useDefaultCredentials="true">
        <proxy usesystemdefault="True"/>
    </defaultProxy>
		-->
  </system.net>
</configuration>

